## BU Summer Challenge: Computer Science [July 2024]
### Notebook 01

In [1]:
print("Hello World!")

Hello World!

### Data Types and Variables in Python
1. A variable is simply a container for storing a data value.
2. Python has several data types: we will focus on the following data types. 
    - `int`: This is a data type used to represent integer information
    - `string`: String data types represent characters
    - `float`: Represent decimal values
3. Python can automatically infer the data type based on the input. We can also specify the data types explicitly.
4. The data type of a variable can be accessed using the `type()` command.

#### Here is one way of specifying variables with their data types

In [1]:
my_name = str('Karan Vombatkere')
my_age = int(28)
temp = float(73.2)

In [3]:
print("Hello there!\nMy name is: {}\nMy Age is {}\nThe temperature is {} degrees".format(my_name,
                                                                      my_age,
                                                                      temp))

Hello there!
My name is: Karan Vombatkere
My Age is 28
The temperature is 73.2 degrees

#### Python can also directly infer the data type based on the input provided

In [4]:
my_name_2 = 'Karan Vombatkere'
my_age_2 = 28
temp_2 = 74.5

In [5]:
print("Hello there!\nMy name is: {}\nMy Age is {}\nThe temperature is {} degrees".format(my_name_2,
                                                                      my_age_2,
                                                                      temp_2))

Hello there!
My name is: Karan Vombatkere
My Age is 28
The temperature is 74.5 degrees

In [6]:
type(my_name)

str

In [7]:
print(type(my_age), type(temp))

<class 'int'> <class 'float'>

### Operations on Variables

In [8]:
my_name == my_name_2

True

In [9]:
temp == temp_2

False

In [10]:
my_age*2 + 4

60

In [11]:
print("The variable my_age has type", type(my_age))
print("The variable my_name has type", type(my_name))

The variable my_age has type <class 'int'>
The variable my_name has type <class 'str'>

In [12]:
# The '#' symbol can be used to add helpful comments to code
# a and b are integer variables
a = 42 
b = 37

c = a+b

print("a={}, b={}".format(a,b))
print("{} + {} = {}".format(a,b,c))

a=42, b=37
42 + 37 = 79

In [13]:
type(c)

int

In [14]:
d = 45.3
e = 23
type(e+d)

float

### Exercise - Data Types and Variables
1. Create three variables named `school_name`, `class_year` and `gpa` and store values in them
2. Print out these 3 variables and their types
3. Create 3 variable `v1, v2, v3` and store `float` values in them
4. Calculate `v4 = v1 + v2 - v3`, and print the result

### Lists and Tuples
- We will learn how to create lists in Python
    - Python lists can have any data types, and can also be a mix of data types or have lists within!
- The `sorted` command can be used to sort the elements of a list
- The `len` command can be used to calculate the length (or number of elements) in a list
- The `append` command can be used to add items to the end of a list - this is done in place
- The `reverse` command can be used to reverse a list - this is done in place
- Items in a list can be accessed using their index
    - Python is 0 indexed! This means that the first element in a list has index = 0

In [15]:
item_list = ['Dog', 'Leaf', 'Tree', 'Cat', 'Airplane']
print(item_list)

['Dog', 'Leaf', 'Tree', 'Cat', 'Airplane']

In [16]:
print("The list has {} items".format(len(item_list)))

The list has 5 items

In [17]:
b = sorted(item_list)
print(b)

['Airplane', 'Cat', 'Dog', 'Leaf', 'Tree']

In [18]:
mixed_list = [3, 25, 47, item_list, 45]
print(mixed_list)

[3, 25, 47, ['Dog', 'Leaf', 'Tree', 'Cat', 'Airplane'], 45]

In [19]:
mixed_list.append(12)
mixed_list.append('Boston University')

In [20]:
mixed_list

[3,
 25,
 47,
 ['Dog', 'Leaf', 'Tree', 'Cat', 'Airplane'],
 45,
 12,
 'Boston University']

In [21]:
mixed_list[0]

3

In [22]:
mixed_list[3]

['Dog', 'Leaf', 'Tree', 'Cat', 'Airplane']

In [23]:
mixed_list[0:2]

[3, 25]

In [24]:
mixed_list.reverse()

In [25]:
mixed_list

['Boston University',
 12,
 45,
 ['Dog', 'Leaf', 'Tree', 'Cat', 'Airplane'],
 47,
 25,
 3]

In [26]:
mixed_list[3].reverse()

In [27]:
mixed_list

['Boston University',
 12,
 45,
 ['Airplane', 'Cat', 'Tree', 'Leaf', 'Dog'],
 47,
 25,
 3]

### Exercise - Python Lists
- Create a list named `foods` with 7 of your favorite foods, and print out the list of foods.
- Create a new list `sorted_foods` which stores the foods sorted in alphabetic order.
- Reverse the order of the new lists and print out the first 3 foods only (using indices to subset).

### Dictionaries
- Dictionaries are an easy way to store `key-value` pairs, where the key is a unique element that has a value stored under it.
- Python allows keys and values to be mixed data types.

In [28]:
my_dict = {}
my_dict['apples'] = 2
my_dict['bananas'] = 4

print(my_dict)

{'apples': 2, 'bananas': 4}

In [29]:
my_dict['apples'] += 5
my_dict

{'apples': 7, 'bananas': 4}

In [30]:
#Use a for loop to iterate over items in mixed_list[2]
for item in mixed_list[3]:
    print(item)
    my_dict[item] = 20

Airplane
Cat
Tree
Leaf
Dog

In [31]:
my_dict

{'apples': 7,
 'bananas': 4,
 'Airplane': 20,
 'Cat': 20,
 'Tree': 20,
 'Leaf': 20,
 'Dog': 20}

In [32]:
#Can access the keys directly
my_dict.keys()

dict_keys(['apples', 'bananas', 'Airplane', 'Cat', 'Tree', 'Leaf', 'Dog'])

In [33]:
#Can access the values directly
my_dict.values()

dict_values([7, 4, 20, 20, 20, 20, 20])

### Exercise - Dictionaries
1. Create a dictionary named `sports` and create 5 key-value pairs where a sport is the key and your rating (between 1-10) is the value for each sport.
2. Print out the dictionary and create a new variable `score_add` and store the value 2 in this variable
3. Using a for loop increase the rating of each sport by `score_add`. Print out the dictionary

### Get User Input
- The `input` command can be used to get user input, and this input data can be stored in a variable

In [34]:
name_var = input("what is your name? ")

what is your name? kv

In [35]:
name_var

'kv'

In [36]:
print("My name is {}".format(name_var))

My name is kv

### Exercise - User input
Get a user to input a n-bit binary number, and convert it to its decimal form.

In [37]:
binaryNum = str(input("Enter a binary number: "))

Enter a binary number: 110101010001

In [38]:
decimalVal = 0
numBits = len(binaryNum)

for i, bit in enumerate(binaryNum):
    powerOf2 = (numBits-1) - i
    
    if bit == '1':
        decimalVal += 2**(powerOf2)
    
print(decimalVal)

3409

### Libraries in Python
Python has several inbuilt libraries that can be used for different applications. We import libraries using the `import` command.

In [39]:
## Importing Libraries - we will use these libraries later
import numpy as np
import matplotlib.pyplot as plt
import time